body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #ede5e5;
}
header {
  background-color: #d69bb5;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}
main {
  max-width: 400px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
